:root{
    --fondo: rgba(115,89,69,0.95), rgba(115,89,69,0.95); 
    --letra: 'Playfair Display', serif;
    --letraColor: #F1E7E0;
    --titulos: 3rem;
    --parrafos: 2.5rem;
    --color-bordes: #fff;
    --tamanio-borde: 0.3rem;
    --shadow: 18px -1px 22px 21px rgba(0,0,0,0.7);

    /* Variables para los media queries  */
    --titulos320: 1.4rem;
    --parrafos320: 1rem ;
    
    --titulos321: 1.6rem ;
    --parrafos321: 1.1rem ;
    
    --titulos480: 2.5rem;
    --parrafos480: 1.7rem; 
    
    --titulos600: 2.5rem;
    --parrafos600: 1.8rem ;
    
    

}

*{
margin: 0;
}

html{
    font-size: 62.5%;
}



body{
    font-size: 16px;
    font-family: var(--letra);
    font-weight: 600;
    
}

.fondo{
    background: linear-gradient(rgba(5,7,12,0.45),rgba(5,7,12,0.45)), url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    zoom: 80%;
}



/* Diseño para el eslogan y la imagen */

header{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

header h1 {
    max-width: 20rem;
}



.disenio-eslogan{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    height: 80px;
    width: 100px;
}

.titulo1{
    font-size: 1.5rem;
   font-weight: 500;
    color: var(--letraColor);
}

@media (min-width: 480px){
    .logo-img{
        height: 140px;
        width: 180px;
    }

    .titulo1{
        font-size: 2.3rem;
       font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 1280px){
    .logo-img{
        height: 180px;
        width: 220px;
    }

    .titulo1{
        font-size: 3.2rem;
       font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 1920px){
    .logo-img{
        height: 180px;
         width: 220px;
    }

    .titulo1{
        font-size: 4rem;
       font-weight: 500;
        color: var(--letraColor);
    }
}

/* Diseño para la barra de navegacion */

.acomodo{
  list-style: none;
  display: flex;
  justify-content: space-around;
    
}

.contenedor{  
    background: linear-gradient(var(--fondo));
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.disenio-contenedor{
    border: var(--tamanio-borde) solid var(--color-bordes);
    border-radius: 1rem;
}

.enlaces{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--letraColor);
}

.espacio{
    margin-right: 2.5rem;
}


@media (min-width: 321px){
    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 40rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    
    .enlaces{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 480px){
    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 50rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    .enlaces{
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 600px){
    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 65rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    .enlaces{
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 1024px){
    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 100rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    .enlaces{
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--letraColor);
    }
}

@media (min-width: 1280px){

    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 130rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    .enlaces{
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: 500;
        color: var(--letraColor);
    }

}

@media (min-width: 1920px){
    .contenedor{  
        background: linear-gradient(var(--fondo));
        max-width: 150rem;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .disenio-contenedor{
        border: var(--tamanio-borde) solid var(--color-bordes);
        border-radius: 1rem;
    }
    
    .enlaces{
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--letraColor);
    }
}





/* Bienvenida */

.bienvenida{
    margin: 3rem 2rem 4.5rem 2rem ;
}

.margen{
    background: linear-gradient(var(--fondo));
    border-radius: 2rem;
    border: var(--tamanio-borde) solid var(--color-bordes);
    display: flex;
    flex-direction: column;
}

.bienvenida h2{
   font-size: 1.4rem;
   font-weight: 500;
   text-align: center;
   color: var(--letraColor);
   margin-top: 1rem;
}

.bienvenida p{
    margin: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    color: var(--letraColor);
}

@media (min-width: 321px){
    .bienvenida{
        margin: 6rem 1.7rem 8rem 1.7rem;
    }
    
    .margen{
        background: linear-gradient(var(--fondo));
        border-radius: 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        display: flex;
        flex-direction: column;
    }
    
    .bienvenida h2{
       font-size: 1.6rem;
       font-weight: 500;
       text-align: center;
       color: var(--letraColor);
       margin-top: 1rem;
    }
    
    .bienvenida p{
        margin: 2rem 2rem;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: justify;
        color: var(--letraColor);
    }
}

@media (min-width: 480px){
    .bienvenida{
        margin: 8rem 4rem 10em 4rem;
    }
    
    .margen{
        background: linear-gradient(var(--fondo));
        border-radius: 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        display: flex;
        flex-direction: column;
    }
    
    .bienvenida h2{
       font-size: 2.2rem;
       font-weight: 500;
       text-align: center;
       color: var(--letraColor);
       margin-top: 1rem;
    }
    
    .bienvenida p{
        margin: 2rem 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: justify;
        color: var(--letraColor);
    }
}

@media (min-width: 600px){
    .bienvenida{
        margin: 5rem 5rem;
    }
    
    .margen{
        background: linear-gradient(var(--fondo));
        border-radius: 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        display: flex;
        flex-direction: column;
    }
    
    .bienvenida h2{
       font-size: 2.5rem;
       font-weight: 500;
       text-align: center;
       color: var(--letraColor);
       margin-top: 1rem;
    }
    
    .bienvenida p{
        margin: 2rem 2rem;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: justify;
        color: var(--letraColor);
    }
}

@media (min-width: 1024px){

    .bienvenida{
        margin: 10rem 10rem;
    }
    
    .margen{
        background: linear-gradient(var(--fondo));
        border-radius: 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        display: flex;
        flex-direction: column;
    }
    
    .bienvenida h2{
       font-size: var(--titulos);
       font-weight: 500;
       text-align: center;
       color: var(--letraColor);
       margin-top: 1rem;
    }
    
    .bienvenida p{
        margin: 2rem 2rem;
        font-size: var(--parrafos);
        font-weight: 500;
        text-align: justify;
        color: var(--letraColor);
    }
}

@media (min-width: 1920px){
    .bienvenida{
        margin: 10rem 10rem;
    }
    
    .margen{
        background: linear-gradient(var(--fondo));
        border-radius: 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        display: flex;
        flex-direction: column;
    }
    
    .bienvenida h2{
       font-size: var(--titulos);
       font-weight: 500;
       text-align: center;
       color: var(--letraColor);
       margin-top: 1rem;
    }
    
    .bienvenida p{
        margin: 2rem 1rem 2rem 1rem;
        font-size: var(--parrafos);
        font-weight: 500;
        text-align: justify;
        color: var(--letraColor);
    }

}

/* Diseño frase de la semana  */

.parrafos-frases{
    margin-top: 3rem;
    text-align: justify;
    font-weight: 500;
    color: var(--letraColor);
}

 @media (min-width: 1px) {
    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .contenedor-titulo-frase{
       text-align: center;
       justify-content: center;
    }
    
    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        margin: 0 3rem 5rem 3rem;
        padding-bottom: 3rem;
        border-radius: 1rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .disenio-parrafos{
        display: flex;
        flex-direction: column;
        font-size: var(--parrafos320);
        margin: 0rem 2rem 0 2rem;
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: var(--titulos320);
        font-weight: 500;
    }
    
    .imagen-frase{
        margin-right: 2.2rem;
        border-radius: 2rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    } 
    
    .tamanio-imagen{
        height: 30rem;
        width: 30rem;
    }
 } 

 @media (min-width: 321px){
    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-titulo-frase{
        text-align: center;
    }

    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        align-items: center;
        padding-bottom: 5rem;
        border-radius: 1rem;
        margin: 0rem 3.5rem 6rem 2rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
        
    }
    
    .diseño-parrafos{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin: 0rem 2rem 0 2rem;
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: 2.3rem;
        font-weight: 500;
    }
    
    
    .imagen-frase{
        margin-right: 2.2rem;
        border-radius: 2.5rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }

    .tamanio-imagen{
        height: 35rem;
        width: 37rem;
    }

    .parrafos-frases{
        font-size: 1.7rem;
    }

}

@media (min-width: 515px){

    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-titulo-frase{
        text-align: center;
    }
    
    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        align-items: center;
        padding-bottom: 5rem;
        border-radius: 1rem;
        margin: 0 5rem 10rem 5rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .diseño-parrafos{
        display: flex;
        flex-direction: column;
    }

    .disenio-parrafos{
        font-size: var(--parrafos480);
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: var(--titulos480);
        font-weight: 500;
    }
    
    
    .imagen-frase{
        border-radius: 2.5rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }

    .tamanio-imagen{
        margin-left: 2rem;
        height: 35rem;
        width: 60rem;
    }
}

@media (min-width: 641px){

    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        align-items: center;
        padding-bottom: 5rem;
        border-radius: 1rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: var(--titulos600);
        font-weight: 500;
    }
    
    .disenio-parrafos{
        font-size: var(--parrafos600);
    }

    .imagen-frase{
        margin-right: 1.7rem;
        border-radius: 2.5rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }

    .tamanio-imagen{
        margin-right: 2rem;
        height: 50rem;
        width: 85rem;
    }
}

@media (min-width: 1024px){

    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
    }
    .contenedor-titulo-frase{
        text-align: center;
    }
    
    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        align-items: center;
        margin-right: 2rem;
        padding-bottom: 8rem;
        border-radius: 1rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .diseño-parrafos{
        display: flex;
        flex-direction: column;
    }
    
    .disenio-parrafos{
        font-size: var(--parrafos);
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: 2.8rem;
        font-weight: 500;
    }
    
    
    .imagen-frase{
        border-radius: 2.5rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }

    .tamanio-imagen{
        margin-left: 4rem;
        height: 60rem;
        width: 120rem;
    }
}

@media (min-width: 1280px){

    .contenedor-frase{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contenedor-titulo-frase{
        text-align: center;
    }
    
    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        align-items: center;
        margin-top: 15rem;
        padding-bottom: 5rem;
        border-radius: 1rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .diseño-parrafos{
        display: flex;
        flex-direction: column;
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: 2.8rem;
        font-weight: 500;
    }
    
    .disenio-parrafos{
        font-size: 2.5rem;
    }

    .imagen-frase{
        border-radius: 2.5rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }

    .tamanio-imagen{
        height: 80rem;
        width: 80rem;
    }

}

@media (min-width: 1920px){

    .contenedor-frase{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .contenedor-titulo-frase{
        text-align: center;
    }
    
    .disenio-parrafos{
        font-size: 2.5rem;
    }

    .diseño-contenedorP{
        background: linear-gradient(var(--fondo));
        margin-top: 15rem;
        margin-right: 5rem;
        padding-bottom: 5rem;
        border-radius: 1rem;
        border: var(--tamanio-borde) solid var(--color-bordes);
        box-shadow: var(--shadow);
    }
    
    .diseño-parrafos{
        display: flex;
        flex-direction: column;
    }
    
    .titulo{
        color: var(--letraColor);
        margin-top: 2rem;
        font-size: var(--titulos);
        font-weight: 500;
    }
        
    .imagen-frase{
        margin-right: 2.2rem;
        border-radius: 2rem;
        box-shadow: var(--shadow);
        border: var(--tamanio-borde) solid var(--color-bordes);
    }
    
    .tamanio-imagen{
        margin-left: 4rem;
        height: 90rem;
        width: 120rem;
    }
}


/* Diseño del footer */

footer{
    border: var(--tamanio-borde) solid var(--color-bordes);
    background: linear-gradient(var(--fondo));
    margin-top: 10rem;
    padding-bottom: 1rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.acomodo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acomodo-enlaces{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.enlaces-footer{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.texto{
    color: var(--letraColor);
}

.acomodo-footer h3{
    margin-top: 1.5rem;
    color: var(--letraColor);
    font-size: 2.5rem;
    font-weight: 500;
}

.icono{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.icono p{
    margin-left: 1.5rem;
    color: var(--letraColor);
    font-weight: 500;
}

@media (min-width: 0px){
    footer{
        display: flex;
        flex-direction: column;
     }
 
     .acomodo-footer h3{
         font-size: 1.5rem;
     }
 
     .icono p{
         font-size: 1.4rem;
     }
 
     .texto{
         color: var(--letraColor);
         font-size: 1.4rem;
     }
 
     .enlaces-footer{
         margin: 3rem 1rem;
     }
}


@media (min-width: 480px){
    footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .acomodo-footer h3{
        font-size: 1.5rem;
    }

    .icono p{
        font-size: 1.3rem;
    }

    .texto{
        color: var(--letraColor);
        font-size: 1.3rem;
    }

    .enlaces-footer{
        margin: 1rem 2rem 0rem 0rem;
    }
}


@media (min-width: 600px){
    footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .icono p{
        font-size: 1.4rem;
    }

    .texto{
        color: var(--letraColor);
        font-size: 1.4rem;
    }

    .enlaces-footer{
        margin: 1rem 2rem 0rem 0rem;
    }
}


@media (min-width: 1024px){
    footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .icono p{
        font-size: 1.8rem;
    }

    .texto{
        color: var(--letraColor);
        font-size: 1.8rem;
    }

    .enlaces-footer{
        margin: 1rem 2rem 0rem 0rem;
    }
}


@media (min-width: 1281px){    
    footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .icono p{
        font-size: 2.5rem;
    }

    .texto{
        color: var(--letraColor);
        font-size: 2rem;
    }
    
    .enlaces-footer{
        margin: 1rem 5rem 0rem 0rem;
    }
}








/* ################################################################################################ 
   ################################################################################################
                                                INICIO NOSOTROS
   */
/* Acerca de nosotros */

section{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
}

.contenedor-nosotros{
    background: linear-gradient(var(--fondo));
}

.imagen-nosotros{
    margin-left: 5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    border: var(--tamanio-borde) solid var(--color-bordes);
}

.parrafo-nosotros{
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 0 5rem;
    text-align: justify;
    color: var(--letraColor);
    font-weight: 500;
    border-radius: 1.5rem;
    border: var(--tamanio-borde) solid var(--color-bordes);    
}

.parrafo-nosotros p{
    font-size: var(--parrafos);
    margin: 2.5rem 2.5rem 0 2.5rem;
}

.parrafo-nosotros h2{
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    font-size: var(--titulos);
    font-weight: 500;
}


/* Diseño texto por que */

.contenedor-PorqueNo{
    display: flex;
    flex-direction: column;
}

.titulo-PorqueNo{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    color: var(--letraColor);
    font-size: var(--titulos);
    font-weight: 500;
}

.contenedor-PorqueNo p{
    margin: 3rem 3rem 5rem 3rem;
    text-align: justify;
    color: var(--letraColor);
    font-size: var(--parrafos);
    font-weight: 500;
}

.contenedor-disenioNo{
    background: linear-gradient(var(--fondo));
    border-radius: 1.5rem;
    border: var(--tamanio-borde) solid var(--color-bordes);    
    margin-left: 5rem;
    margin-right: 5rem;
    box-shadow: 19px 6px 19px 23px rgba(0,0,0,0.55);
}



/* ################################################################################################ 
   ################################################################################################
                                                INICIO Contacto
*/

/* Formulario diseño */

main{
    display: flex;
    align-items: center;
    height: 100rem;    
}


.formulario-contacto{
    background: linear-gradient(var(--fondo));
    width: min(120rem,100%);
    margin: 0 auto;
    border-radius: 2rem;
    border: var(--tamanio-borde) solid var(--color-bordes);
    box-shadow: 18px -1px 22px 21px rgba(0,0,0,0.7);
}

.formulario-contacto fieldset{
    border: none;
}

.formulario-contacto legend{
    font-size: var(--titulos);
    color: var(--letraColor);
    font-weight: 500;
    padding-top: 2rem;
    margin: 0 auto;
}

.contenedor-formulario{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

.input-text{
    font-size: var(--parrafos);
    border-radius: .7rem;
    color: black;
    font-weight: 500;
    background-color: white;
    border: 0.35rem solid black;
}

.contenedor-formulario div label{
    font-size: 2.8rem;
    color: var(--letraColor);
    font-weight: 500;
}

.nombre{
    grid-column: 1 / 3;
}

.apellido{
    grid-column: 3 / 5;
}

.correo{
    
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 3rem;
}

.telefono{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin-bottom: 3rem;
}
.mensaje{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0rem 2rem;
}

.nombre, .apellido, .correo, .telefono{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.mensaje textarea{
    resize: none;
    margin-top: 1rem;
    height: 20rem;
}

.contenedor-boton{
    display: flex;
    justify-content: right;
    margin: 3rem 5rem 3rem 0;
}

.boton{
    margin-top: 2rem;
    font-size: var(--titulos);
    padding: 1rem 3rem;
    border-radius: .9rem;
    background-color: white;
    border: 0.35rem solid black;
    box-shadow: 0px 3px 42px 13px rgba(0,0,0,1);
}

/* ################################################################################################ 
   ################################################################################################
                                                INICIO Café
*/


.main-cafe{
    display: flex;
    flex-direction: column;
    margin-bottom: 250rem;
}

.contenedor-acerca{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
}


.informacion-acerca{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.background-informacion{
    background: linear-gradient(var(--fondo));
    margin: 0 5rem;
    border: var(--tamanio-borde) solid var(--color-bordes);
    border-radius: 2rem;
    padding-bottom: 6rem;
    box-shadow: var(--shadow);
}

.img-disenio{
    width: 100rem;
    height: 65rem;
    margin: 3rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
}

.disenio-Parrafo-Acerca{
    text-align: justify;
    font-size: var(--parrafos);
    color: var(--letraColor);
    font-weight: 500;
    margin: 0rem 2rem;
}

.titulo-acerca{
    text-align: center;
    font-size: var(--titulos);
    color: var(--letraColor);
    font-weight: 500;
    margin-bottom: 5rem;
}

.video{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 2 / 3;
}

.tamanio-video{

    width: 150rem;
    height: 70rem;
}

.contendor-cultivo{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
}

.informacion-cultivo{
    display: flex;
    align-items: center;
    grid-column: 1/3 ;
    
}
.datos-cafe{
    margin: 0 5rem 0 5rem;
    background: linear-gradient(var(--fondo));
    border-radius: 2rem;
    border: var(--tamanio-borde) solid var(--color-bordes);
    box-shadow: var(--shadow);
}

.datos-cafe h2{
    text-align: center;
    font-size: var(--titulos);
    color: var(--letraColor);
    font-weight: 500;
    margin:5rem 0 ;
}

.datos-cafe p{
    text-align: justify;
    font-size: var(--parrafos);
    color: var(--letraColor);
    font-weight: 500;
    margin: 0 3rem 5rem 3rem;

}

.img-paquete{
    width: 100rem;
    height: 70rem;
    margin:0 5rem 0 5rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
}


.contenedor-img{    
    margin-top: 5rem;
    grid-column: 1 /2 ;
    grid-row: 2 / 3;
    margin-left: 5rem;
    
}

.img-cultivo{
    width: 120rem;
    height: 60rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
}

.contacto-cafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disenio-contacto-cafe{
    background: linear-gradient( var(--fondo) );
    margin: 10rem 20rem 0rem 20rem;
    padding-bottom: 10rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    border: var(--tamanio-borde) solid var(--color-bordes);
}

.contacto-cafe p {
    text-align: center;
    font-size: var(--titulos);
    color: var(--letraColor);
    font-weight: 600;
    margin-top: 10rem;
}

.contacto-cafe button{
    margin: 10rem 0 2rem 0;
    width: 24rem;
    height: 8rem;
}

.disenio-boton-cafe{
    text-align: center;
    font-size: var(--titulos);
    padding: 1rem 3rem;
    border-radius: .9rem;
    background-color: white;
    border: 0.35rem solid black;
    font-weight: 600;
    cursor: pointer;
}


/* 
   ##################################################################
   ##################################################################
                                    Menu
 */

 .titulo-Menu{
    margin: 10rem 4rem 20rem 4rem;
    display: flex;
    justify-content: space-between;
 }

 .titulo-Menu__eslogan{
    font-size: 3.5rem;
    color: var(--letraColor);
    font-weight: 500;
    font-family: var(--letra);
 }

.contendedor-menu{
    max-width: 220rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu{

    background-color: aqua;
    flex-basis: calc(30% - 2rem);
}

.producto{
    background-color: aqua;
    flex-basis: calc(70% - 2rem);
}

















































