html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background: linear-gradient(rgba(5,7,12,0.25),rgba(5,7,12,0.25)), url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--tipoLetra);
}

*{
    margin:0;
}

:root{
    --tipoLetra: 'IBM Plex Serif', serif;
    --colorLetra: #FEF7E2;
    --fondoElementos: linear-gradient(rgba(100,76,58,0.95), rgba(100,76,58,0.95));
    --bordeElemento: .35rem solid var(--colorLetra);
    --borderRadius: 1.7rem;
    --tituloLetTamanio: 3rem;
    --ParraLetTamanio: 2rem;
    --WeightTitulo: 500;
    --WeightParrafo: 400;
    --Espacio: elementos: 30rem;
}

h2{
    padding-top: 3rem;
    text-align: center;
    font-size: var(--tituloLetTamanio);
    color: var(--colorLetra);
    font-weight: var(--WeightTitulo);  
}

p{
    text-align: justify;
    font-size: var(--ParraLetTamanio);
    color: var(--colorLetra);
    font-weight: var(--WeightParrafo);    
    line-height:1.5;
}

button{
    border: none;
    padding: 2rem 7rem;
    font-size: var(--ParraLetTamanio);
    font-weight: 700;
    background-color: var(--colorLetra);
    border-radius: var(--borderRadius);
}

/*                                              ##################################################
                                                ##################################################
                                                ##################################################
                                                            CSS de eslogan e imagen
*/

.contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.logo__imagen{
    max-width: 13rem;
    max-height: 10rem;
}

.eslogan{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10rem;
}

.eslogan__frase{
    font-size: 2rem;
    color: var(--colorLetra);
    font-weight: 400;
}

@media (min-width: 767px) {
    .eslogan__frase{
        font-size: 3.5rem;
    }

    .logo__imagen{
        max-width: 18rem;
        max-height: 15rem;
    }
}



/*                                              ##################################################
                                                ##################################################
                                                ##################################################
                                                            CSS de barra de navegacion
*/

.contenedor--navegacion{
    margin: 0 auto;
}

.fondo--disenio{
    padding: .8rem 0;
    border-radius: var(--borderRadius) ;
    border: var(--bordeElemento) ;
    margin-bottom: 15rem;
}

.enlaces{
    background: var(--fondoElementos) ;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.enlace__disenio{
    text-decoration: none;
    color: var(--colorLetra);
    font-weight: 400;
}


@media (min-width: 0px) {
    .contenedor--navegacion{
        max-width: 25rem;   
    }

    .enlace__disenio{
        font-size: 1.3rem;
    }
}

@media (min-width: 350px) {
    .contenedor--navegacion{
        max-width: 35rem;   
    }

    .enlace__disenio{
        font-size: 1.5rem;
    }
}

@media (min-width: 539px) {
    .contenedor--navegacion{
        max-width: 49rem;   
    }

    .enlace__disenio{
        font-size: 1.65rem;
    }
}

@media (min-width: 767px) {
    .contenedor--navegacion{
        max-width: 65rem;   
    }

    .enlace__disenio{
        font-size: 1.8rem;
    }
}

@media (min-width: 1023px) {
    .contenedor--navegacion{
        max-width: 95rem;   
    }

    .enlace__disenio{
        font-size: 2rem;
    }
}

@media (min-width: 1439px ) {
    .contenedor--navegacion{
        max-width: 130rem;   
    }

    .enlace__disenio{
        font-size: 2.4rem;
    }
}


/*                                              ##################################################
                                                ##################################################
                                                ##################################################
                                                                    CSS footer
*/

.contenedor--footer{
    margin-top: 20rem;;
    background: var(--fondoElementos);
    border: var(--bordeElemento);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-bottom: 2rem ;
}
.redes--titulo{
    margin-top: 2rem
}

.redes__enlaces{
    margin-top: 3rem;
    display: flex;
    list-style: none;
}

.redes__enlace, .horario__horas{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorLetra);
    font-weight: 400;
}

.redes--titulo{
    text-align: center ;
}
.horario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horario__titulo, .horario__horas{
    margin-top: 1.5rem;
}


.copy--disenio, .ubicacion--disenio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy--disenio, .ubicacion--disenio, .redes--titulo, .horario__titulo{
    color: var(--colorLetra);
    font-size: 1.7rem;
    font-weight: 400;
}

.acomodo{
    display: flex;
    align-items: center;
}

@media (min-width: 2px) {
    .contenedor--footer{
        display: grid;
        row-gap: 4rem;
    }

    .redes__enlaces{
        justify-content: center;  
    }

    .redes__enlace{
        margin: 0 1.2rem;
    }
}

@media (min-width: 400px) {
    .redes__enlace{
        margin: 0 2rem;
    }
}

@media (min-width: 541px) {
    .contenedor--footer{
        grid-template-columns: repeat(2,1fr);
    }

    .redes__enlaces{
        justify-content: center;  
    }

    .espacio--footer{
        margin-top: 2rem;
    }

    .copy--disenio{
        margin-top: 2rem ;
    }
    .redes--titulo{
        margin-top: 5rem;
    }

    .redes__enlace{
        margin: 0 .5rem;
    }
}

@media (min-width: 700px) {
    .redes__enlace{
        margin: 0 2rem;
    }
}

@media (min-width: 1025px ) {
    .copy--disenio, .ubicacion--disenio, .redes--titulo, .horario__titulo{
        font-size: 1.7rem;
    }

    .contenedor--footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .redes__enlaces{
        justify-content: space-between;
    }

    .espacio--footer{
        margin: 1rem 0 0 2rem;

    }

    .ubicacion--disenio{
        margin-top: 2rem ;
    }

    .redes--titulo{
        margin-top: 3.5rem;
    }

    .redes__enlace, .horario__horas{
        font-size: 1.8rem;
    }
}

@media (min-width: 1919px) {
    .redes__enlace, .horario__horas{
        font-size: 2.3rem;
    }
}

/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS INICIO
*/

/* Welcomte to coffe house */
.contenedor--welcome{
    max-width: 160rem;
    margin: 0 auto 15rem;
}

.contenedor--frase{
    display: grid;
    row-gap: 5rem;
}

.imagen--frase__disenio{
    border: var(--bordeElemento);
    border-radius: var(--borderRadius);
}

.acomodo-frases{
    margin:0 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.imagen--fraseSemana{
    display: flex;
    justify-content: center;
}


@media (min-width: 1px ) {
    .contenedor--welcome{
        max-width: 29rem;
    }
    .imagen--frase{
        width: 95%;
        height: 95%;
    }
}

@media (min-width: 321px ) {
    .contenedor--welcome{
        max-width: 33rem;
    }
}

@media (min-width: 540px ) {
    .contenedor--welcome{
        max-width: 44rem;
    }
    .imagen--frase{
        width: 95%;
        height: 95%;
    }
}

@media (min-width: 640px ) {
    .contenedor--welcome{
        max-width: 54rem;
    }
}

@media (min-width: 767px ) {
    .contenedor--welcome{
        max-width: 65rem;
    }
}

@media (min-width: 801px ) {
    .contenedor--welcome{
        max-width: 85rem;
    }
}

@media (min-width: 802px ) {
 
    .contenedor--welcome{
        max-width: 75rem;
    }

}

@media (min-width: 1025px ) {
    .contenedor--frase{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem; 
    }

    .contenedor--welcome{
        max-width: 100rem;
    }

} 

@media (min-width: 1281px ) {
    .contenedor--welcome{
        max-width: 125rem;   
    }
    
}


@media (min-width: 1920px ) {
    .contenedor--welcome{
        max-width: 160rem;
        /* box-shadow: 64px 31px 28px 22px rgba(0,0,0,0.67); */
    }
}

@media (min-width: 1921px ) {
    .contenedor--welcome{
        max-width: 160rem;
    }
    .acomodo-frases{
        margin-left: 5rem;
    }
    
    .imagen--frase{
        margin-right: 0rem; 
   }
}



/* Clase que comparten codigo */

.contenedor--welcome__titulo, .frase__titulo{
  margin-bottom: 3rem;
}

.contenedor--welcome__parrafo, .frase__estilo{
    margin: 0 4rem;
    padding-bottom: 3rem;
}

.frases, .contenedor--welcome__disenio {
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}


/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS NOSOTROS
*/

/* Quienes somos?  */
.Contenedor--Quienes{
    display: grid;
    row-gap: 5rem;
}

.imagen--nosotros{
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

/*Por que iniciamos....?*/

.contenedor--iniciamos{
    margin: 15rem auto 0 auto;
}

.historia{
    padding-bottom: 3rem;
}

/* Clase que comparten codigo */



.iniciamos, .historia{
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
    background: var(--fondoElementos);
}

@media (min-width: 1px) {

    .historia div, .iniciamos__parrafo{
        margin: 3rem 0.5rem 0rem 0.5rem;
        padding: 2rem;
    }
    
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 28rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 25rem;
   }
}

@media (min-width: 325px) {

    .historia div, .iniciamos__parrafo{
        margin: 3rem 0.5rem 0rem 0.5rem;
        padding: 2rem;
    }
    
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 35rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 32rem;
   }
}

@media (min-width: 400px) {

    .historia div, .iniciamos__parrafo{
        margin: 3rem 0.5rem 0rem 0.5rem;
        padding: 2rem;
    }
    
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 40rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 40rem;
   }
}

@media (min-width: 501px) {

    .historia div, .iniciamos__parrafo{
        margin: 3rem 3rem 0rem 3rem;
        padding: 2rem;
    }
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 50rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 48rem;
   }
}

@media (min-width: 640px) {

    .historia div, .iniciamos__parrafo{
        margin: 3rem 3rem 0rem 3rem;
        padding: 2rem;
    }
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 60rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 58rem;
   }
}



@media (min-width: 799px) {
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
    .centro--imgNosotros{
        max-width: 75rem; 
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 70rem;
   }
}

@media (min-width: 954px) {
    
    .imagen--nosotros{
        width: 90rem;
        height: 60rem;
    }

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }
 
    .historia, .contenedor--iniciamos{
       max-width: 80rem;
   }
}

@media (min-width: 1035px) {
    
    .imagen--nosotros{
        width: 100%;
        height: 100%;
    }    

    .centro--imgNosotros, .historia{
        margin: 0 auto;
    }

    .historia{
       max-width: 100rem;
   }

   .contenedor--iniciamos{
    max-width: 105rem;
    }
}

@media (min-width: 1439px) {
    .imagen--nosotros{
        width: 90%;
        height: 100%;
    }

    .Contenedor--Quienes{
        grid-template-columns: 55% 45%;
        column-gap: 1.5rem;
    }
    
    .historia{
        max-width: 75rem;
    }

    .contenedor--iniciamos{
        max-width: 180rem;
    }

    .centro--imgNosotros{
        margin-left: 3rem;
    }

    .historia{
        margin-right: 5rem;
    }
}

@media (min-width: 1440px) {
    .Contenedor--Quienes{
        grid-template-columns: 55% 45%;
        column-gap: 1.5rem;
    }
    
    .historia{
        max-width: 75rem;
    }

    .contenedor--iniciamos{
        max-width: 140rem;
    }

    .centro--imgNosotros{
        margin-left: 3rem;
    }

    .historia{
        margin-right: 5rem;
    }
}

@media (min-width: 1921px) {
    .Contenedor--Quienes{
        grid-template-columns: 50% 50%;
    }

    .historia{
        max-width: 110rem;
    }
    .contenedor--iniciamos{
        max-width: 190rem;
    }

    .centro--imgNosotros{
        margin-left: 16rem;
    }

    .historia{
        margin-right: 16rem;
    }
}
@media (min-width: 2027px) {

    .contenedor--iniciamos{
        max-width: 200rem;
    }

   
}

/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS Cafe
*/

.contenedor--cafe{
    display: flex;
    flex-direction: column;
    gap: 10rem; 
}


.contenedor--solicitar__estilo{
    max-width: 80%;
    margin:0 auto;
    background: var(--fondoElementos);
}

.contenedor--solicitar__estilo div{
    margin: 5rem auto;
    display: flex;
    justify-content: center;

}
.extra{ margin: 0 2rem}


.boton--nosotros:hover{
    cursor: pointer;
}

.contenedor--img-cafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem; 
}


.imagen--empaqueCafe{
   width: 75%;
   margin: 0 auto;
}



.contenedor--img-cafe__estilo{
    width: 90%;
    
}

/* Clase que comparten codigo */

.contenedor--cultivamos, .contenedor--acerca {
    max-width: 90%;
}


.contenedor--acerca, .contenedor--cultivamos, .video--cafe, .contenedor--img-cafe , 
.contenedor--solicitar, .contenedor--cultivamos{
    margin: 15rem auto 0 auto;
}

.contenedor--acerca__parrafo, .Contenedor--cultivamos__parrafo{
    margin: 3rem 3rem;
}

.contenedor--acerca, .contenedor--cultivamos, .tamanio--video,.contenedor--solicitar__estilo,
.imagen--empaqueCafe__estilo, .contenedor--img-cafe__estilo
{
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

 
@media (min-width: 320px ) {
    .tamanio--video{
        width: 33rem;
        height: 25rem
    }
}
@media (min-width: 450px ) {
    .tamanio--video{
        width: 40rem;
        height: 30rem
    }
}
 
@media (min-width: 590px ) {
    .tamanio--video{
        width: 55rem;
        height: 30rem
    }
}

@media (min-width: 850px ) {
    .tamanio--video{
        width: 80rem;
        height: 50rem
    }
}

@media (min-width: 1000px ) {
    .tamanio--video{
        width: 100rem;
        height: 60rem
    }
}

@media (min-width: 1260px ) {
  
    .tamanio--video{
        width: 120rem;
        height: 60rem
    }
}

@media (min-width: 1601px ) {
  
    .tamanio--video{
        width: 150rem;
        height: 90rem
    }
}


/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS contactanos
*/

.contenedor--contacto{
    max-width: 80%;
    margin: 0 auto;
}

.contenedor--contacto__estilo{
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

.contenedor--contacto__fieldset{
    border: none;
    font-size: var(--tituloLetTamanio);
}

.contenedor--contacto__legend{
    padding-top: 4rem;
    margin: 0 auto 4rem auto;
}

.contenedor--grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
}

.contenedor--grid__label{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.contenedor--grid__datos{ 
    width: 70%;
    padding: .5rem .5rem;
}

.estilo--datos{
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

.grid--datos__acomodo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea--acomodo{
    grid-column: 1 / 3;
}

.textarea--mensaje{
    width: 80%;
    padding-bottom: 15rem;
}

.textarea--mensaje, .contenedor--grid__datos{
    font-size: var(--ParraLetTamanio);
    color: black;
    font-weight: var(--WeightTitulo);  
}

.acomodo--boton{
    display: flex;
    justify-content: right;
    margin: 4rem 5rem 4rem 0rem;
}

.acomodo--boton button:hover{
    cursor: pointer;
}

/* Clases que comparten codigo */
.contenedor--grid__label, .contenedor--contacto__fieldset{
    color: var(--colorLetra);
    font-weight: var(--WeightTitulo);   
}


@media (min-width: 1920px ) {
    .contenedor--contacto{
        margin: 30rem auto;
    }
}

/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS Menú
*/


.fondo--menuE{
    background: var(--fondoElementos);
}

.menu--frase{
    padding: 1.5rem 0;
    max-width: 120rem;
    margin: 0 auto;
}

.titulo-Menu__eslogan{
    text-align: center;
    font-size: var(--tituloLetTamanio);
    color: var(--colorLetra);
    font-weight: 600; 
}

.contenedor--productos__estilo{
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

.contenedor--productos{
    max-width: 140rem;
    margin: 10rem auto 0rem auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}



.grid--cafe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 0rem 2rem;
}

.grid--cafe__titulo{
    margin-top: 3rem;
    grid-column: 1 / 4 ;
}

.grid--cafe__espacio{
    text-align: center;   
}

.grid--cafe__espacio{
    margin-top: 4rem;
}

.grid--cafe__producto{
    width: 35rem;
    height: 30rem;
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

h3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--colorLetra);
    font-weight: var(500);     
    margin-top: 2rem;
}









