html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background: linear-gradient(rgba(5,7,12,0.45),rgba(5,7,12,0.45)), url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--tipoLetra);
}

*{
    margin:0;
}

:root{
    --tipoLetra: 'IBM Plex Serif', serif;
    --colorLetra: #FEF7E2;
    --fondoElementos: linear-gradient(rgba(115,89,69,0.95), rgba(115,89,69,0.95));
    --bordeElemento: .35rem solid var(--colorLetra);
    --borderRadius: 1.7rem;
    --tituloLetTamanio: 3rem;
    --ParraLetTamanio: 2rem;
    --WeightTitulo: 500;
    --WeightParrafo: 400;
    --Espacio: elementos: 30rem;
}

h2{
    padding-top: 3rem;
    text-align: center;
    font-size: var(--tituloLetTamanio);
    color: var(--colorLetra);
    font-weight: var(--WeightTitulo);  
}

p{
    text-align: justify;
    font-size: var(--ParraLetTamanio);
    color: var(--colorLetra);
    font-weight: var(--WeightParrafo);    
}

/* ##################################################
   ##################################################
   ##################################################
                CSS de eslogan e imagen
*/

.contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.logo__imagen{
    max-width: 18rem;
    max-height: 15rem;
}

.eslogan{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10rem;
}

.eslogan__frase{
    font-size: 3.5rem;
    color: var(--colorLetra);
    font-weight: 400;
}


/* ##################################################
   ##################################################
   ##################################################
                CSS de barra de navegacion
*/

.contenedor--navegacion{
    max-width: 130rem;
    margin: 0 auto;
    
}

.fondo--disenio{
    padding: .8rem 0;
    border-radius: var(--borderRadius) ;
    border: var(--bordeElemento) ;
    margin-bottom: 15rem;
}

.enlaces{
    background: var(--fondoElementos) ;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.enlace__disenio{
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--colorLetra);
    font-weight: 400;
}

/* ##################################################
   ##################################################
   ##################################################
                CSS footer
*/

.contenedor--footer{
    margin-top: 20rem;;
    background: var(--fondoElementos);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: var(--bordeElemento);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-bottom: 2rem ;
}
.redes--titulo{
    margin-top: 2rem
}

.redes__enlaces{
    margin-top: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.redes__enlace, .horario__horas{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorLetra);
    font-weight: 400;
}

.redes--titulo{
    text-align: center ;
}
.horario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horario__titulo, .horario__horas{
    margin-top: 1.5rem;
}


.copy--disenio, .ubicacion--disenio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy--disenio, .ubicacion--disenio, .redes--titulo, .horario__titulo{
    color: var(--colorLetra);
    font-size: 1.7rem;
    font-weight: 400;
}

.acomodo{
    display: flex;
    align-items: center;
}

/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS INICIO
*/

/* Welcomte to coffe house */
.contenedor--welcome{
    max-width: 160rem;
    margin: 0 auto 15rem;
}


/* frase de la semana */
.contenedor--frase{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
}

.imagen--frase{
    margin-right: 1.5rem;
    width: 95rem;
    height: 60rem;
}

.imagen--frase__disenio{
    border: var(--bordeElemento);
    border-radius: var(--borderRadius);
}

.acomodo-frases{
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

 
/* Clase que comparten codigo */

.contenedor--welcome__titulo, .frase__titulo{
  margin-bottom: 3rem;
}

.contenedor--welcome__parrafo, .frase__estilo{
    margin: 0 4rem;
    padding-bottom: 3rem;
}

.frases, .contenedor--welcome__disenio {
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}


/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS NOSOTROS
*/

/* Quienes somos?  */
.Contenedor--Quienes{
    display: grid;
    grid-template-columns: 38% 62%;
    column-gap: 1.5rem;
}

.imagen--nosotros{
    margin-left: 3rem;
    width: 65rem;
    height: 70rem;
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

.historia{
    margin: 7rem 0;
    margin-right: 5rem;
}


/*Por que iniciamos....?*/

.contenedor--iniciamos{
    max-width: 170rem;
    margin: 15rem auto 0 auto;
}

.iniciamos__contenedor--parrafo{
    padding-bottom: 3rem;
}

/* Clase que comparten codigo */

.historia div, .iniciamos__parrafo{
    margin: 3rem 3rem 0rem 3rem;
}

.iniciamos, .historia{
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
    background: var(--fondoElementos);
}

/* ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
   ######################################################################################################################################################
                                                                            CSS Cafe
*/

.contenedor--cafe{
    display: flex;
    flex-direction: column;
}

.imagen--empaqueCafe{
    margin: 0 auto;
}

.imagen--empaqueCafe__estilo, .tamanio--video{
    width: 155rem;
    height: 90rem;
}

.contenedor--img-cafe{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.contenedor--img-cafe__estilo{
    width: 85rem;
    height: 50rem;
}


.contenedor--solicitar__estilo{
    max-width: 120rem;   
    background: var(--fondoElementos);
}

.contenedor--solicitar__estilo div{
    margin: 5rem auto;
    display: flex;
    justify-content: center;

}
.extra{ margin: 0 2rem}

.boton--nosotros{
    border: none;
    padding: 2rem 4rem;
    font-size: var(--ParraLetTamanio);
    font-weight: 700;
    background-color: var(--colorLetra);
    border-radius: var(--borderRadius);
}

.boton--nosotros:hover{
    cursor: pointer;
}


/* Clase que comparten codigo */
.contenedor--acerca, .contenedor--cultivamos{
    max-width: 180rem;
    margin: 5rem auto 0rem auto;
}


.contenedor--acerca, .contenedor--cultivamos, .video--cafe,.contenedor--img-cafe,.contenedor--solicitar {
    margin: 15rem auto 0rem auto;
}

.contenedor--acerca__parrafo, .Contenedor--cultivamos__parrafo{
    margin: 3rem 3rem;
}

.contenedor--acerca, .contenedor--cultivamos, .tamanio--video,.contenedor--solicitar__estilo,
.imagen--empaqueCafe__estilo, .contenedor--img-cafe__estilo
{
    background: var(--fondoElementos);
    border-radius: var(--borderRadius);
    border: var(--bordeElemento);
}

